<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <div class="body"><b><h1 class="text-center"> {{title}} </h1></b>
    <div class="container">
        <router-outlet></router-outlet>
    
    </div>
    <div class="abc">
        <!-- <a href="login" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-user"></span> User 
          </a> -->

            <b><br><span class="glyphicon glyphicon-user"></span>&nbsp;<a href="login" class="navlink">Admin Login</a>
           <br><br><span class="glyphicon glyphicon-user"></span>&nbsp;<a href="emplogin" class="navlink">Employee Login</a></b>
    </div></div>